[MESSAGES CONTROL]

disable = trailing-whitespace,    # In copyrights
          invalid-name,           # Short variables like 'v'
          unused-wildcard-import, # For 'from ... import ...'
          fixme,                  # TODO/FIXME
          unspecified-encoding,   # Rely on default UTF-8
          too-many-locals, too-many-branches, too-many-boolean-expressions

[FORMAT]

indent-string = '  '

[IMPORT]

allow-wildcard-with-all = yes
